/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* Header style */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 94px;
    background-color: blue;
}
.top-banner{
    display: flex;
    align-items: center;
    color: white;
}
.top-banner img{
    width: 40px;
    height: 50px;
}
nav{

}
nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;

}
/* common styles */
*{
    margin: none;
    padding: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

/* top players style */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.players img{
    height: 56px;
    width: 56px;
}
.players-name{
    padding-left: 18px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
/* top blog styles */

.thumbnail img{
    height: 117px;
    width: 177px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
}
/* course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.courses .course-banner img{
    width: 224px;
    height: 104px;
}
.fa-star.filled{
    color: yellow;
}
.fa-star.empty{
    color:whitesmoke;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-duration{
    display: flex;
    align-items: center;
    background-color: indianred;
    border-radius: 5px;
}
.course-duration span{
    margin: 0 5px;
}
footer{
    background-color: blue;
    width: 100%;
    height: 100px;
}
footer div{
    display: flex;
    justify-content: center;
    text-align: center;
}